zimply
python-baseconv
gensim
pandas
torch
unidecode
spacy
openai
tqdm
nltk
bs4
scikit-learn
plotnine
faiss-cpu
transformers==4.55.2
datasets==3.4.1     
evaluate==0.4.6
dspy
ollama
accelerate==1.5.2
